@import "../../media.scss";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.Expensesandlike {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 50vw;
  // align-items: center;
  margin: 40px auto;
  @include for-size(tablet-portrait-up) {
    padding: 10px;
    width: 100%;
  }
  @include for-size(phone-only) {
    width: 100%;
  }
  .Expensesandlike_top {
    display: flex;
    flex: 1;
    margin-bottom: 20px;

    // justify-content: space-between;
    @include for-size(phone-only) {
      width: 100%;
      flex-wrap: wrap;
      padding: 1px 20px;
      font-size: 70%;
    }
    span {
      display: inline-block;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.76);
      width: 50%;
    }
    .first_sp {
      padding-left: 6px;
    }
    .second_span {
      padding-left: 20px;
      @include for-size(phone-only) {
        // width: 100%;
        // display: none;
      }
    }
  }
  .expenselike_wrap {
    // overflow: scroll;
    // overflow-y: scroll;
    .Expensesandlike_bottom {
      display: flex;
      // justify-content: space-between;
      margin-top: 5px;
      @include for-size(phone-only) {
        // width: 100%;
        margin: 2px auto;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 1px 10px;
      }
      .Expensesandlike_bottom_expense {
        display: flex;
        width: 50%;
        @include for-size(phone-only) {
          width: 100%;
          flex-grow: 1;
          margin: 5px auto;
          justify-content: center;
          flex-wrap: wrap;
          // flex-wrap: wrap;
        }
      }
      span {
        display: inline-block;
        padding: 0 0 0 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.76);
      }
    }
  }
}
.wrap {
  .personaldetails {
    svg {
      display: none !important;
    }
  }
}
