@import "../../media.scss";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.horinzontal {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px 20px;
  @include for-size(tablet-portrait-up) {
    padding: 8px 12px;
  }
  &:hover {
    background: rgba(231, 236, 237, 0.5);
  }
  .personaldetails_img {
    width: 40px;
    height: 40px;
  }
  .personaldetails_info {
    flex-grow: 1;
    margin-left: 10px;
    .personaldetails_info_name {
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .personaldetails_info_transaction {
      display: flex;
      align-items: center;
      color: #000000;
      font-size: 10px;
      @include for-size(tablet-portrait-up) {
        flex-wrap: wrap;
      }
      .joined {
        border-radius: 100%;
        width: 3px;
        height: 3px;
        background-color: #000000;
        margin-left: 5px;
        margin-right: 5px;
        @include for-size(tablet-portrait-up) {
          // flex-wrap: wrap;
          display: none;
        }
      }
    }
  }
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 70px auto 30px auto;
  @include for-size(phone-only) {
    margin: 50px auto 10px auto;
  }
  .personaldetails_img {
    width: 80px;
    height: 80px;
    @include for-size(phone-only) {
      width: 50px;
      height: 50px;
    }
  }
  .personaldetails_info {
    flex-grow: 1;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .personaldetails_info_name {
      span {
        font-size: 20px;
        font-weight: 600;
        @include for-size(phone-only) {
          font-size: 14px;
        }
      }
    }
    .personaldetails_info_transaction {
      display: flex;
      align-items: center;
      color: #000000;
      font-size: 14px;
      @include for-size(phone-only) {
        font-size: 10px;
      }
      font-weight: 500;
      .joined {
        border-radius: 100%;
        width: 3px;
        height: 3px;
        background-color: #000000;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .horinz {
    display: none;
  }
}
img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
